.title{color:white;font-size:43px;background-color:darkgray;border-bottom-color:black;border-color-width:100px;}
.description{color:black;font-size:15px;}
.left{float:left; width: 45%;margin-top:10px;}
.WOL{color:black;font-size:25px;}
.books{color:white;font-size:34px;margin-top:50px;}
#cover1{width:175px; height:260px;}
#background{background-color:darkgray;}
.ATA{color:white;font-size:34px;margin-top:60px;}
.ATAbody{color:black;font-size:15px;}
#ATApic{width:175px; height:240px;right:360px; margin-top:5px;}
.right{float:right; width:44%;}
.imgright {float:right; width:44%;}